<div class="nav-container" [ngClass]="{'nav-inverse': isScrolled}">
    <ul>
        <li routerLink="home" routerLinkActive="active">Početna</li>
        <li routerLink="products" routerLinkActive="active">Proizvodi</li>
        <li routerLink="about-us" routerLinkActive="active">O nama</li>
        <li routerLink="contact" routerLinkActive="active">Kontakt</li>
    </ul>
    <div class="logo-wrapper">
        <img src="../../../../assets/images/logo/transparent-logo.svg" alt="">
    </div>
    <div class="nav-right-social">
        <a href="" target="blank"><img src="assets/images/facebook-logo.png" alt=""></a>
        <a href="" target="blank"><img src="assets/images/instagram.png" alt=""></a>
        <a href="https://www.google.com/maps/place/Eurokornet/@44.9824749,16.6967557,16.75z/data=!4m5!3m4!1s0x476733747135e579:0xc106fafb5a8dd02a!8m2!3d44.9829935!4d16.6985622" 
        target="blank">
            <img src="assets/images/location.png" alt="">
        </a>
    </div>
</div>
