.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 90px;
  // padding: 0 60px;
  justify-content: space-between;
  z-index: 1000;
  margin-top: 50px;
  background-color: transparent;
  transition: margin-top .3s ease, background-color .3s ease -.1s;
}

.nav-inverse {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color .3s ease .1s, margin-top .3s ease;

  .logo-wrapper {
    opacity: 1;
  }
}

.nav-container ul {
  z-index: 2;
  display: flex;
  align-items: center;
  list-style: none;
  color: rgb(19, 19, 19);
  margin: 0;
  padding: 0;
  margin-left: 5%;
}

.nav-container li {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  padding: 0 10px;
  text-transform: uppercase;
  transition: ease .3s all;
  cursor: pointer;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
}

.active {
  color: rgb(126, 126, 126);
}

.nav-container li:hover {
  color: rgb(126, 126, 126);
}

.nav-right-social {
  z-index: 2;
  display: flex;
  align-items: center;
  margin-right: 5%;
  gap: 10px
}

.nav-right-social img {
  height: 30px;
  cursor: pointer;
}

.logo-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  height: 90px;
  cursor: pointer;
  // width: 100vw;
  // display: flex;
  // justify-content: center;
  // align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  img {
    width: 80px;
    margin: 0 auto;
  }
}

.lang-selection {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
//   width: 80px;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;

  img {
    width: 30px;
    height: 30px;
    transition: all ease 0.5s;
  }
}

.menu-btn {
  z-index: 30;
  position: absolute !important;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 80px;
  height: 100%;
  cursor: pointer;
  transition: all .6s ease-in-out;
  // position: fixed;
  // border: 1px solid #34495e;

  .burger {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    transition: all .6s ease-in-out;
    background-color: #000;

  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    transition: all .6s ease-in-out;
    background-color: #000;
  }

  &::before {
    transform: translateY(-12px)
  }

  &::after {
    transform: translateY(12px)
  }
}

.open-burger {
  .burger {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
  }
  &::before {
    transform: rotateZ(45deg);
    background-color: #fff;
  }
  &::after {
    transform: rotateZ(-45deg);
    background-color: #fff;
  }
}

.menu.open-menu {
  transform: translateX(0);
}

// .menu-btn.open-burger {
//   position: fixed !important;
//   right: 20px;
// }