<swiper [config]="config" >
  <div class="swiper-wrapper" >
    
    <div class="content-1 swiper-slide">
    </div>
    <div class="content-2 swiper-slide">
    </div>
    <div class="content-3 swiper-slide">
    </div>
    <div class="content-4 swiper-slide">
    </div>
    <div class="content-5 swiper-slide">
    </div>
    <div class="content-6 swiper-slide">
    </div>
    <div class="content-7 swiper-slide">
    </div>
    <div class="content-8 swiper-slide">
    </div>
    <div class="content-9 swiper-slide">
    </div>
    <div class="content-10 swiper-slide" >
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-pagination"></div>

</swiper>
