/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper.min.css";
@import "~swiper/swiper.scss";
@import "~swiper/swiper-bundle.min.css";
@import "~swiper/swiper-vars.scss";

// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');



body{
    margin: 0;
}
// #header{
//     position: fixed;
//     left: 0;
//     top: 0;
//     background-color: #FFF;
//     z-index: 100;
// }
::-webkit-scrollbar {
    display: none;
  }

  [hidden] {
      visibility: hidden;
  }

  .swiper-pagination-bullets {
    z-index: 1000 !important;
  
    .swiper-pagination-bullet {
      z-index: 1000 !important;
      background: #dfac4de1 !important;
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin: 0 .75em !important;
      height: 0.6em;
      width: 0.6em;
      opacity: 0.6;
    }
  
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  .swiper-button-next, .swiper-button-prev {
      color: rgb(0, 0, 0);
      text-shadow: 2px 2px rgb(100, 100, 100);
  }