h1, h2, h3, h5, h6 {
  color: white;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 140px;
  line-height: 0px;
  font-weight: 600;
  letter-spacing: 2px;
}

h2 {
  font-size: 90px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px 0;
}

h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px 0;
}

h5 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.dark-text {
  color: black;
}

.pink-text {
  color: #FFBFB3;
}

.yellow-text {
  color: #F9DB79;
}