<div class="section-hiro">
  <div class="logo-wrapper">
    <img src="../../../assets/images/logo/transparent-logo-white.svg" alt="">
  </div>

  <h1>
    <ng-container *ngIf="language ==='BOS'">
      PROIZVODI
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      PRODUCTS
    </ng-container>
  </h1>
  <h4 class="content-subtitle">
    <ng-container *ngIf="language ==='BOS'">
      Pogledajte široku ponudu naših proizvoda
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      Take a look at the wide range of our products
    </ng-container> 
  </h4>
</div>


<div class="products-wrapper opake-animation">

  <h2 class="product-type-title hover-pink-text mt-50">
    <ng-container *ngIf="language ==='BOS'">
      KLASIČNI KORNETI
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      CLASSIC CORNETS
    </ng-container> 
  </h2>

  <div class="product-section mt-20">
    <div class="product-card">
      <div class="img-part pink-stripes">
        <img src="../../../assets/images/final-products/product-1.png" alt="">
      </div>
      <div class="content-part pink-background">
        <h3>
          <ng-container *ngIf="language ==='BOS'">
            MALI
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            SMALL
          </ng-container>
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-1-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper pink-border border-left-none opacity-0-to-1">
          <h3>  
            <ng-container *ngIf="language ==='BOS'">
              MALI KORNET
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              SMALL CORNET
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 123mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 123mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 49mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 49mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                UNUTRAŠNJI Ø: 31,5mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                INNER Ø: 31,5mm
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="img-part yellow-stripes">
        <img src="../../../assets/images/final-products/product-2.png" alt="">
      </div>
      <div class="content-part yellow-background">
        <h3>
          SUPER
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-2-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper yellow-border border-left-none opacity-1-to-0">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              SUPER KORNET
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              SUPER CORNET
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 133mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 133mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 50mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 50mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                UNUTRAŠNJI Ø: 37mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                INNER Ø: 37mm
              </ng-container>
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="product-section mb-50">

    <div class="product-card">
      <div class="content-part yellow-background">
        <h3>
          <ng-container *ngIf="language ==='BOS'">
            SREDNJI
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            MEDIUM
          </ng-container>
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-3-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper yellow-border border-right-none opacity-0-to-1">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              SREDNJI KORNET
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              MEDIUM CORNET
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 127mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 127mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 50,5mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 50,5mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                UNUTRAŠNJI Ø: 44mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                INNER Ø: 44mm
              </ng-container>
            </p>
          </div>
        </div>
      </div>
      <div class="img-part yellow-stripes-15">
        <img src="../../../assets/images/final-products/product-3.png" alt="">
      </div>
      
    </div>
    <div class="product-card">

      <div class="content-part yellow-background">
        <h3>
          <ng-container *ngIf="language ==='BOS'">
            VELIKI
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            LARGE
          </ng-container>
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-4-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper yellow-border border-right-none opacity-1-to-0">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              VELIKI KORNET
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              LARGE CORNET
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 160mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 160mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 59mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 59mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                UNUTRAŠNJI Ø: 53mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                INNER Ø: 53mm
              </ng-container>
            </p>
          </div>
        </div>
      </div>
      <div class="img-part yellow-stripes-15">
        <img src="../../../assets/images/final-products/product-4.png" alt="">
      </div>
      
    </div>
  </div>

  <h2 class="product-type-title hover-green-text">
    <ng-container *ngIf="language ==='BOS'">
      KEKS KORNETI
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      BISCUIT CORNETS
    </ng-container>
  </h2>

  <div class="product-section mt-20">
    <div class="product-card">
      <div class="img-part green-stripes">
        <img src="../../../assets/images/final-products/product-5.png" alt="">
      </div>
      <div class="content-part green-background">
        <h3>
          <ng-container *ngIf="language ==='BOS'">
            KEKS
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            BISCUIT
          </ng-container>
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper green-border border-left-none opacity-0-to-1">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              KEKS KORNET
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              BISCUIT CORNET
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 160mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 160mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 70mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 70mm
              </ng-container>
            </p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="product-card">
      <div class="content-part green-background">
        <h3>
          SUPER
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper green-border border-right-none opacity-1-to-0">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              SUPER KEKS KORNET <br>
              <div>/ ČOKO KEKS KORNET</div>
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              SUPER BISCUIT CORNET <br>
              <div>/ CHOCO BISCUIT CORNET</div>
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 160mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 160mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 70mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 70mm
              </ng-container>
            </p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
      <div class="img-part green-stripes-30">
        <img src="../../../assets/images/final-products/product-9.png" alt="">
      </div>
    </div>
  </div>

  <div class="product-section mb-50">
    <div class="product-card">
      <div class="content-part green-background">
        <h3>
          <ng-container *ngIf="language ==='BOS'">
            ŠARENI
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            COLORFUL
          </ng-container>
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper green-border border-right-none opacity-1-to-0">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              ŠARENI KORNET <br>
              <div>/ KORNET SA MRVICAMA</div>
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              COLORFUL CORNET <br>
              <div>/ CORNET WITH CRUMBS</div>
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 160mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 160mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 70mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 70mm
              </ng-container>
            </p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
      <div class="img-part green-stripes-28">
        <img src="../../../assets/images/final-products/product-10.png" alt="">
      </div>
    </div>
    <div class="product-card">
      <div class="img-part black-stripes">
        <img src="../../../assets/images/final-products/product-8.png" alt="">
      </div>
      <div class="content-part black-background">
        <h3>
          OREO
        </h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper black-border border-left-none opacity-0-to-1">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              OREO KEKS KORNET
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              OREO BISCUIT CORNET
            </ng-container>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                DIMENZIJE:
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                DIMENSIONS:
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VISINA: 160mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                HEIGHT: 160mm
              </ng-container>
            </p>
            <p class="dark-text small-paragraph">
              <ng-container *ngIf="language ==='BOS'">
                VANJSKI Ø: 70mm
              </ng-container>
              <ng-container *ngIf="language ==='EN'">
                OUTER Ø: 70mm
              </ng-container>
            </p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="product-type-title hover-pink-text">
    <ng-container *ngIf="language ==='BOS'">
      KEKS KORPICE
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      BISCUIT BASKETS
    </ng-container>
  </h2>
  
  <div class="product-section mb-50 mt-20">

    <div class="product-card">
      <div class="img-part pink-background f-grow-1">
        <img src="../../../assets/images/final-products/product-14-wide.png" alt="">
      </div>
    </div>

    <div class="product-card">
      <div class="content-part pink-background jc-center" >
        <h3>
          <ng-container *ngIf="language ==='BOS'">
            KORPICE
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            BASKETS
          </ng-container>
        </h3>
        <div class="inner-content-wrapper pink-border border-right-none opacity-1-to-0">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
            KEKS KORPICE<br>
          <div>/ ZDJELICE</div>
        </ng-container>
        <ng-container *ngIf="language ==='EN'">
            BISCUIT BASKETS<br>
          <div>/ BOWLS</div>
          </ng-container>
          </h3>
        </div>
      </div>
      <div class="img-part pink-stripes">
        <img src="../../../assets/images/final-products/product-14.png" alt="">
      </div>
    </div>

  </div>

  <h2 class="product-type-title hover-pink-text">
    <ng-container *ngIf="language ==='BOS'">
      KEKS TROKUTIĆI
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      BISCUIT TRIANGLES
    </ng-container>
  </h2>
  
  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="img-part pink-stripes-25">
        <img src="../../../assets/images/final-products/product-6.png" alt="">
      </div>
      <div class="content-part pink-background jc-center" >
        <h3 class="text-vertical">
          <ng-container *ngIf="language ==='BOS'">
            TROKU- <br>
            <div>TIĆI</div>
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            TRIA- <br>
            <div>NGLES</div>
          </ng-container>
        </h3>
        <div class="inner-content-wrapper pink-border border-left-none opacity-1-to-0">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              KEKS TROKUTIĆI
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              BISCUIT TRIANGLES
            </ng-container>
          </h3>
        </div>
      </div>
      
    </div>
    <div class="product-card">
      <div class="img-part pink-background f-grow-1">
        <img src="../../../assets/images/final-products/product-6-wide.png" alt="">
      </div>
    </div>

    

  </div>


  <h2 class="product-type-title hover-blue-text">
    <ng-container *ngIf="language ==='BOS'">
      TRGOVAČKI KORNETI
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      COMMERCIAL CORNETS
    </ng-container>
  </h2>
  
  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="content-part blue-background jc-center" >
        <h3>
          <ng-container *ngIf="language ==='BOS'">
            TRGO- <br>
            <div>VAČKI</div>
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            COMME- <br>
            <div>RCIAL</div>
          </ng-container>
        </h3>
        <div class="inner-content-wrapper blue-border border-right-none opacity-1-to-0">
          <h3>
            <ng-container *ngIf="language ==='BOS'">
              TRGOVAČKI KORNET
            </ng-container>
            <ng-container *ngIf="language ==='EN'">
              COMMERCIAL CORNET
            </ng-container>
          </h3>
        </div>
      </div>
      <div class="img-part blue-stripes">
        <img src="../../../assets/images/final-products/product-12.png" alt="">
      </div>
    </div>

    <div class="product-card">
      <div class="img-part blue-stripes-30 f-grow-1">
        <img src="../../../assets/images/final-products/product-12-wide.png" alt="">
      </div>
      
    </div>
  </div>

  <h2 class="product-type-title hover-yellow-text">
    <ng-container *ngIf="language ==='BOS'">
      OBLATNE / OBLANDE
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      WAFERS
    </ng-container>
  </h2>

  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="img-part yellow-background f-grow-1">
        <img src="../../../assets/images/final-products/product-13.png" alt="">
      </div>
      
    </div>
  </div>

  <h2 class="product-type-title hover-green-text">
    <ng-container *ngIf="language ==='BOS'">
      ROLERI
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      ROLLERS
    </ng-container>
  </h2>

  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="img-part green-background f-grow-1">
        <img src="../../../assets/images/final-products/product-7.png" alt="">
      </div>
      
    </div>
  </div>

</div>
