<div class="section-hiro">
  <div class="logo-wrapper">
    <img src="../../../assets/images/logo/transparent-logo-white.svg" alt="">
  </div>

  <h1>PROIZVODI</h1>
  <h4 class="content-subtitle">Pogledajte široku ponudu naših proizvoda</h4>
</div>


<div class="products-wrapper opake-animation">

  <h2 class="product-type-title hover-pink-text">KORNETI</h2>
  <div class="product-section">
    <div class="product-card">
      <div class="img-part pink-stripes">
        <img src="../../../assets/images/final-products/product-1.png" alt="">
      </div>
      <div class="content-part">
        <h3>MALI</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-1-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper pink-border">
          <h3>MALI KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 123mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 49mm</p>
            <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 31,5mm</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="product-section">
    <div class="product-card">
      <div class="img-part pink-stripes">
        <img src="../../../assets/images/final-products/product-1.png" alt="">
      </div>
      <div class="content-part">
        <h3>MALI</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-1-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper pink-border">
          <h3>MALI KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 123mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 49mm</p>
            <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 31,5mm</p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="product-card">
      <div class="img-part pink-stripes">
        <img src="../../../assets/images/final-products/product-1.png" alt="">
      </div>
      <div class="content-part">
        <h3>MALI</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-1-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper pink-border">
          <h3>MALI KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 123mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 49mm</p>
            <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 31,5mm</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>
