.section-hiro {
  // background: #C3A9D4;
  background: #FFBFB3;
  height: 40vh;
  animation: height-change 1s;
}

.content-subtitle {
  color: #fff;
}

.products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  // margin-bottom: -50vh;
  padding-bottom: 50px;
}

.product-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.product-section:first-of-type {
  margin-top: 30px;
}

.product-card {
  display: flex;
  width: 480px;
  height: 320px;
  // border: 2px solid #333;
  // border: 1px solid #C3A9D4;
}

.img-part, .content-part {
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.img-part {
  overflow: hidden;
  width: 55%;
  justify-content: center;
  // background: #FFBFB3;
  
  img {
    width: 110%;
    transition: all ease-out .3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  img.not-scalable {
    &:hover {
      transform: none;
    }
  }
}


.content-part {
  flex-direction: column;
  width: 45%;
  
  padding: 16px;
  position: relative;
  h3 {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    line-height: .8;
    div {
      margin-top: 12px;
    }
  }
}

.inner-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: all ease-in-out .5s;
  border: 4px solid;
  
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;

  h3 {
    font-size: 32px;
    color: #333;
  }
  p {
    margin: 0;
  }

  p.middle-paragraph {
    margin-bottom: 4px;
  }
}

.opacity-1-to-0 {
  opacity: 1;
  &:hover {
    opacity: 0;
  }
}
.opacity-0-to-1 {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}


.product-type-title {
  color: #333;
  transform: all ease-out .15s;
  cursor: default;
  
}

img.dimensions {
  width: 180px;
}


@keyframes height-change {
  0% {
    height: 0;
  }
  100% {
    height: 40vh;
  }
}
.pink-background {
  background: #FFBFB3;
}

.yellow-background {
  background: #F9DB79;
}

.green-background {
  background: #B5E8D5;
}

.blue-background {
  background: #74b9ffb3;
}

.black-background {
  background: #333;
}

.pink-stripes {
  background: repeating-linear-gradient(
    25deg,
    #FFBFB3,
    #FFBFB3 60px,
    #fff 60px,
    #fff 120px
  );
}

.pink-stripes-25 {
  background: repeating-linear-gradient(
    -25deg,
    #FFBFB3,
    #FFBFB3 60px,
    #fff 60px,
    #fff 120px
  );
}


.yellow-stripes {
  background: repeating-linear-gradient(
    -15deg,
    #F9DB79,
    #F9DB79 70px,
    #fff 70px,
    #fff 140px
  );
}

.yellow-stripes-15 {
  background: repeating-linear-gradient(
    15deg,
    #F9DB79,
    #F9DB79 50px,
    #fff 50px,
    #fff 100px
  );
}

.green-stripes {
  background: repeating-linear-gradient(
    22deg,
    #B5E8D5,
    #B5E8D5 80px,
    #fff 80px,
    #fff 160px
  );
}

.green-stripes-30 {
  background: repeating-linear-gradient(
    -30deg,
    #B5E8D5,
    #B5E8D5 30px,
    #fff 30px,
    #fff 60px
  );
}

.green-stripes-28 {
  background: repeating-linear-gradient(
    -28deg,
    #B5E8D5,
    #B5E8D5 70px,
    #fff 70px,
    #fff 140px
  );
}

.blue-stripes {
  background: repeating-linear-gradient(
    25deg,
    #74b9ffb3,
    #74b9ffb3 50px,
    #fff 50px,
    #fff 100px
  );
}

.blue-stripes-30 {
  background: repeating-linear-gradient(
    -30deg,
    #74b9ffb3,
    #74b9ffb3 70px,
    #fff 70px,
    #fff 140px
  );
}

.black-stripes {
  background: repeating-linear-gradient(
    -30deg,
    #333,
    #333 10px,
    #fff 10px,
    #fff 20px
  );
}


.pink-border {
  border-color: #FFBFB3;
}

.yellow-border {
  border-color: #F9DB79;
}
.green-border {
  border-color: #B5E8D5;
}

.blue-border {
  border-color: #74b9ffb3;
}

.black-border {
  border-color: #333;
}

.hover-pink-text {
  &:hover {
    color: #FFBFB3;
  }
}

.hover-yellow-text {
  &:hover {
    color: #F9DB79;
  }
}

.hover-green-text {
  &:hover {
    color: #B5E8D5;
  }
}

.hover-blue-text {
  &:hover {
    color: #74b9ffb3;
  }
}

.hover-black-text {
  &:hover {
    color: #333;
  }
}


.border-right-none {
  border-right: none;
}
.border-left-none {
  border-left: none;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 40px;
}

h2 {
  margin: 0;
  transition: all ease-in-out .15s;
}