<a class="section-info " [routerLink]="['/contact']">
  <h3>
    Žarka Zgonjanina 64, Prijedor 79000 | Daily 7AM - 5PM
  </h3>
</a>
<div class="section-hiro">
  <div class="logo-wrapper">
    <img src="../../../assets/images/logo/transparent-logo-white.svg" alt="">
  </div>

  <h1>PROIZVODI</h1>
  <h4 class="content-subtitle">Pogledajte široku ponudu naših proizvoda</h4>
</div>


<div class="products-wrapper opake-animation">

  <h2 class="product-type-title hover-pink-text mt-50">KLASIČNI KORNETI</h2>

  <div class="product-section mt-20">
    <div class="product-card">
      <div class="img-part pink-stripes">
        <img src="../../../assets/images/final-products/product-1.png" alt="">
      </div>
      <div class="content-part pink-background">
        <h3>MALI</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-1-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper pink-border border-left-none opacity-0-to-1">
          <h3>MALI KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 123mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 49mm</p>
            <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 31,5mm</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="img-part yellow-stripes">
        <img src="../../../assets/images/final-products/product-2.png" alt="">
      </div>
      <div class="content-part yellow-background">
        <h3>SUPER</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-2-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper yellow-border border-left-none opacity-1-to-0">
          <h3>SUPER KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 133mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 50mm</p>
            <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 37mm</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="product-section mb-50">

    <div class="product-card">
      <div class="content-part yellow-background">
        <h3>SREDNJI</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-3-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper yellow-border border-right-none opacity-0-to-1">
          <h3>SREDNJI KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 127mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 50,5mm</p>
            <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 44mm</p>
          </div>
        </div>
      </div>
      <div class="img-part yellow-stripes-15">
        <img src="../../../assets/images/final-products/product-3.png" alt="">
      </div>
      
    </div>
    <div class="product-card">

      <div class="content-part yellow-background">
        <h3>VELIKI</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-4-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper yellow-border border-right-none opacity-1-to-0">
          <h3>VELIKI KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 160mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 59mm</p>
            <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 53mm</p>
          </div>
        </div>
      </div>
      <div class="img-part yellow-stripes-15">
        <img src="../../../assets/images/final-products/product-4.png" alt="">
      </div>
      
    </div>
  </div>

  <h2 class="product-type-title hover-green-text">KEKS KORNETI</h2>

  <div class="product-section mt-20">
    <div class="product-card">
      <div class="img-part green-stripes">
        <img src="../../../assets/images/final-products/product-5.png" alt="">
      </div>
      <div class="content-part green-background">
        <h3>KEKS</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper green-border border-left-none opacity-0-to-1">
          <h3>KEKS KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 160mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 70mm</p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="product-card">
      <div class="content-part green-background">
        <h3>SUPER</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper green-border border-right-none opacity-1-to-0">
          <h3>
            SUPER KEKS KORNET <br>
            <div>/ ČOKO KEKS KORNET</div>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 160mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 70mm</p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
      <div class="img-part green-stripes-30">
        <img src="../../../assets/images/final-products/product-9.png" alt="">
      </div>
    </div>
  </div>

  <div class="product-section mb-50">
    <div class="product-card">
      <div class="content-part green-background">
        <h3>ŠARENI</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper green-border border-right-none opacity-1-to-0">
          <h3>
            ŠARENI KORNET <br>
            <div>/ KORNET SA MRVICAMA</div>
          </h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 160mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 70mm</p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
      <div class="img-part green-stripes-28">
        <img src="../../../assets/images/final-products/product-10.png" alt="">
      </div>
    </div>
    <div class="product-card">
      <div class="img-part black-stripes">
        <img src="../../../assets/images/final-products/product-8.png" alt="">
      </div>
      <div class="content-part black-background">
        <h3>OREO</h3>
        <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div>
        <div class="inner-content-wrapper black-border border-left-none opacity-0-to-1">
          <h3>OREO KEKS KORNET</h3>

          <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 160mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 70mm</p>
            <!-- <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="product-type-title hover-pink-text">KEKS KORPICE</h2>
  
  <div class="product-section mb-50 mt-20">

    <div class="product-card">
      <div class="img-part pink-background f-grow-1">
        <img src="../../../assets/images/final-products/product-14-wide.png" alt="">
      </div>
    </div>

    <div class="product-card">
      <div class="content-part pink-background jc-center" >
        <h3>KORPICE</h3>
        <div class="inner-content-wrapper pink-border border-right-none opacity-1-to-0">
          <h3>
            KEKS KORPICE<br>
          <div>/ ZDJELICE</div>
          </h3>
        </div>
      </div>
      <div class="img-part pink-stripes">
        <img src="../../../assets/images/final-products/product-14.png" alt="">
      </div>
    </div>

  </div>

  <h2 class="product-type-title hover-pink-text">KEKS TROKUTIĆI</h2>
  
  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="img-part pink-stripes-25">
        <img src="../../../assets/images/final-products/product-6.png" alt="">
      </div>
      <div class="content-part pink-background jc-center" >
        <h3>
          TROKU- <br>
          <div>TIĆI</div>
        </h3>
        <div class="inner-content-wrapper pink-border border-left-none opacity-1-to-0">
          <h3>
            KEKS TROKUTIĆI
          </h3>
        </div>
      </div>
      
    </div>
    <div class="product-card">
      <div class="img-part pink-background f-grow-1">
        <img src="../../../assets/images/final-products/product-6-wide.png" alt="">
      </div>
    </div>

    

  </div>


  <h2 class="product-type-title hover-blue-text">TRGOVAČKI KORNETI</h2>
  
  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="content-part blue-background jc-center" >
        <h3>TRGO- <br>
          <div>VAČKI</div></h3>
        <!-- <div class="d-flex jc-center">
          <img class="dimensions" src="../../../assets/images/final-products/product-5-dimensions.svg" alt="">
        </div> -->
        <div class="inner-content-wrapper blue-border border-right-none opacity-1-to-0">
          <h3>
            TRGOVAČKI KORNET
          </h3>

          <!--
            <div class="paragraphs">
            <p class="dark-text middle-paragraph">DIMENZIJE:</p>
            <p class="dark-text small-paragraph">VISINA: 160mm</p>
            <p class="dark-text small-paragraph">VANJSKI Ø: 70mm</p>
             <p class="dark-text small-paragraph">UNUTRAŠNJI Ø: 66mm</p>
          </div> -->
        </div>
      </div>
      <div class="img-part blue-stripes">
        <img src="../../../assets/images/final-products/product-12.png" alt="">
      </div>
    </div>

    <div class="product-card">
      <div class="img-part blue-stripes-30 f-grow-1">
        <img src="../../../assets/images/final-products/product-12-wide.png" alt="">
      </div>
      
    </div>
  </div>

  <h2 class="product-type-title hover-yellow-text">OBLATNE / OBLANDE</h2>

  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="img-part yellow-background f-grow-1">
        <img src="../../../assets/images/final-products/product-13.png" alt="">
      </div>
      
    </div>
  </div>

  <h2 class="product-type-title hover-yellow-text">ROLERI</h2>

  <div class="product-section mb-50 mt-20">
    <div class="product-card">
      <div class="img-part yellow-background f-grow-1">
        <img src="../../../assets/images/final-products/product-7.png" alt="">
      </div>
      
    </div>
  </div>

</div>
