<div class="section-footer">
    <div class="footer footer-left">
        <div class="footer-tab">
            <h5>Adress</h5>
            <h6> Žarka Zgonjanina 64 </h6>
            <h6> Prijedor </h6>
            <h6> 79000</h6>
        </div>
        <div class="footer-tab">
            <h5>Contact</h5>
            <h6>info@mysite.com</h6>
            <h6>Tel: 123-456-7890</h6>
        </div>
        <div class="footer-tab">
            <h5>Hours</h5>
            <h6>Open Daily</h6>
            <h6>7AM - 10PM</h6>
        </div>
    </div>
    <div class="footer footer-right"></div>

</div>
