.section-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footer-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: fit-content;

  h5 {
    margin-bottom: 20px;
  }

  a {
    font-size: 24px;
    font-weight: 400;
    text-transform: initial;
    font-family: "Barlow Condensed", sans-serif;
    margin: 0 0 10px 0;
    text-decoration: none;
    color: #fff;
  }
}

a.anchor-with-img {
  display: flex;
  justify-content: center;
  align-items: center;
}



h6 {
  font-size: 16px;
  font-weight: 400;
  text-transform: initial;
  margin: 0 0 10px 0;
}

.footer-logo img {
  height: 150px;
  filter: invert(100%);
}

.footer-title {
  font-size: 32px;
}

.footer-subtitle,
a.footer-subtitle {
  font-size: 24px ;

  &:hover {
    color: #ccc;
  }
}

.bottom-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-rights {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      height: 20px;
    }
    h6 {
        margin-bottom: 0;
    }
}

.footer-container {
  background-color: #000;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 48px;
  padding-bottom: 24px;
}


.footer-social {
  display: flex;
  gap: 16px;

  img {
    height: 30px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    cursor: pointer;

    &:hover {
      filter: invert(92%) sepia(10%) saturate(667%) hue-rotate(102deg) brightness(98%) contrast(88%);
      transition: all .3s ease;
    }
  }
}

.footer-column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
}
@media only screen and (max-width: 600px){
  .footer-wrapper{
    padding: 16px;
  }
  .footer-column{
    flex-direction: column;
    gap: 24px;
  }
  .section-footer{
    flex-direction: column;
  }
  .column-1{
    order: 2;
  }
  .column-2{
    order: 1;
    display: flex;
    align-items: center;
  }
  .bottom-wrapper{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-rights{
    order: 2;
    margin-top: 20px;
  }
  .footer-title{
    font-size: 24px;
  }
  .footer-subtitle{
    font-size: 16px;
  }
  .footer-logo{
    padding: 50px 0;
  }
  .footer-tab{
    a{
      font-size: 16px;
    }
  }
}
