<div class="footer-container">
<div class="footer-wrapper">
  <div class="section-footer">
    <div class="footer-column column-1">
      <div class="footer-tab">
        <h5 class="footer-title">
          <ng-container *ngIf="language ==='BOS'">
            Adresa
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            Address
          </ng-container>
        </h5>
        <h6 class="footer-subtitle"> Žarka Zgonjanina br.64 </h6>
        <h6 class="footer-subtitle"> Prijedor </h6>
        <h6 class="footer-subtitle"> 79101</h6>
      </div>
      <div class="footer-tab">
        <h5 class="footer-title">
          <ng-container *ngIf="language ==='BOS'">
            Kontakt
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            Contact
          </ng-container>
        </h5>
        <a class="footer-subtitle" href="mailto: info@eurokornet.ba">info@eurokornet.ba</a>
        <a class="footer-subtitle" href="mailto: jadran_rasic@hotmail.com">jadran_rasic@hotmail.com</a>
        <a class="footer-subtitle" href="tel:065520792">Tel: 065520792</a>
        <a class="footer-subtitle" href="tel:065234821">Tel: 065234821</a>
      </div>
      <div class="footer-tab">
        <h5 class="footer-title">
          <ng-container *ngIf="language ==='BOS'">
            Radno vrijeme
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            Daily
          </ng-container>
        </h5>
        <h6 class="footer-subtitle" *ngIf="language ==='BOS'">Svaki dan</h6>
        <h6 class="footer-subtitle">
          <ng-container *ngIf="language ==='BOS'">
            8:00 - 20:00
          </ng-container>
          <ng-container *ngIf="language ==='EN'">
            8AM - 8PM
          </ng-container>
        </h6>
      </div>
    </div>
    <div class="footer-column column-2">
      <div class="footer-logo">
        <img src="../../../../assets/images/logo/transparent-logo.svg" alt="">
      </div>

    </div>
</div>


    <div class="bottom-wrapper">
      <div class="footer-rights">
        <h6>©2022 by Eurokornet. Created by </h6>
        <a href="https://edin-bulut.web.app/" class="anchor-with-img" target="blank"><img src="../../../../assets/images/favicon.ico" alt=""></a>
      </div>

      <div class="footer-social">
        <a href="" class="anchor-with-img"><img src="assets/images/facebook-logo.png" alt="" target="blank"></a>
        <a href="" class="anchor-with-img"><img src="assets/images/instagram.png" alt="" target="blank"></a>
        <a href="https://www.google.com/maps/place/Eurokornet/@44.9824749,16.6967557,16.75z/data=!4m5!3m4!1s0x476733747135e579:0xc106fafb5a8dd02a!8m2!3d44.9829935!4d16.6985622"
        class="anchor-with-img" target="blank">
            <img src="assets/images/location.png" alt="">
        </a>
      </div>

    </div>
</div>
</div>