<a class="section-info " [routerLink]="['/contact']">
  <h3>
    Žarka Zgonjanina 64, Prijedor 79000 | Daily 7AM - 5PM
  </h3>
</a>

<div class="opake-animation">
<div class="section-hiro first-hero">
  <div class="inner-section-wrapper">

    <div class="logo-wrapper">
      <img src="../../../assets/images/logo/transparent-logo-white.svg" alt="">
  </div>

  <h3>Tradicija koja traje već više od 25 godina</h3>
  <h1>Eurokornet</h1>
  <h2>Prijedor</h2>
</div>
</div>

<div class="section-flavor">
  <div class="flavor-box box-1 image-box">
  </div>
  <div class="flavor-box">
    <h3 class="pink-text">Historija i tradicija</h3>
    <h4 class="content-subtitle">Sa Vama smo već duže od 25 godina</h4>

    <p class="dark-text">
      Duga historija proizvodnje korneta u nasoj porodici garantuje visokokvalitetne proizvode i prvoklasnu uslugu.
    </p>
    <a class="button button-dark" [routerLink]="['/products']">
      <h5 class="pink-text">POGLEDAJTE ŠTA NUDIMO</h5>
    </a>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/old-images/old-images-4.jpg">
  <h1>Porodično zanimanje</h1>
  <h3>Od prvog dana su svi, od najmlađih do najstarijih bili uključeni</h3>
  <a class="button button-white" [routerLink]="['/about-us']">
    <h5>O NAMA</h5>
  </a>
</div>

<div class="section-flavor">
  <div class="flavor-box">
    <h3 class="yellow-text">Naš recept</h3>
    <h4 class="content-subtitle">Najviše pažnje posvećeno kvaliteti</h4>
    <p class="dark-text">Čvrsti, hrskavi, odličnog ukusa i savršeno pečeni naš su recept za zadovoljnog kupca.</p>
    <div class="button button-dark">
      <h5 class="yellow-text">Pogledajte</h5>
    </div>
  </div>
  <div class="flavor-box box-2 image-box">
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/ice-cream2.jpg">
  <h3>Get Yours</h3>
  <h1>We Deliver</h1>
  <div class="button button-white">
    <h5>Order Online</h5>
  </div>
</div>

<div class="section-flavor">
  <div class="flavor-box box-3 image-box">
  </div>
  <div class="flavor-box">
    <h3 class="dark-text">Desserts</h3>
    <h6>Ice cream goodies</h6>
    <p class="dark-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click
      me to add your own content and make changes to the font.</p>
    <div class="button button-dark">
      <h5 class="dark-text">Menu</h5>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/ice-cream1.png">
  <h3>Enjoy</h3>
  <h1>Dairy Free</h1>
  <div class="button button-white">
    <h5>Menu</h5>
  </div>
</div>

<div class="section-slider">
    <app-slider></app-slider>
</div>
</div>



