.logo-wrapper {
  width: 200px;

  img {
    width: 100%;
  }
}
h5 {
  font-size: 20px;
  text-align: center;
}
.parallax-bg1 {
  background-image: url("/assets/images/carousel/Kornet-34.jpg");
}

.parallax-bg2 {
  background-image: url("/assets/images/old-images/old-images-4.jpg");
}

.parallax-bg3 {
  background-image: url("../../../assets/images/background-images/background-image-3.jpg");
}
