<div class="section-info">
    <h3>
        500 Terry Francois Street San Francisco, CA 94158  |  Daily 10AM-10PM  
    </h3>
</div>
<div class="section-hiro">
    <h3>Hand Crafted</h3>
    <h1>Ice Cream</h1>
    <div class="button-white">
        <h5>Menu</h5>
    </div>
</div>
<div class="section-flavor">
    <div class="flavor-box box-1">
    </div>
    <div class="flavor-box">
        <h3 class="dark">Our Flavors</h3>
        <h6>Fresh n' Tasty!</h6>
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        <div class="button-dark">
            <h5 class="dark">Menu</h5>
        </div>
    </div>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/ice-cream1.jpg">
    <h3>Enjoy</h3>
    <h1>Dairy Free</h1>
    <div class="button-white">
        <h5>Menu</h5>
    </div>
</div>
<div class="section-flavor">
    
    <div class="flavor-box">
        <h3 class="dark">Our Place</h3>
        <h6>Ice cream by the sea</h6>
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        <div class="button-dark">
            <h5 class="dark">Read More</h5>
        </div>
    </div>
    <div class="flavor-box box-2">
    </div>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/ice-cream2.jpg">
    <h3>Get Yours</h3>
    <h1>We Deliver</h1>
    <div class="button-white">
        <h5>Order Online</h5>
    </div>
</div>
<div class="section-flavor">
    <div class="flavor-box box-3">
    </div>
    <div class="flavor-box">
        <h3 class="dark">Desserts</h3>
        <h6>Ice cream goodies</h6>
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        <div class="button-dark">
            <h5 class="dark">Menu</h5>
        </div>
    </div>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/ice-cream1.png">
    <h3>Enjoy</h3>
    <h1>Dairy Free</h1>
    <div class="button-white">
        <h5>Menu</h5>
    </div>
</div>
