.logo-wrapper {
  width: 200px;

  img {
    width: 100%;
  }
}
.parallax-bg1 {
  background-image: url("/assets/images/old-images/old-images-4.jpg");
}

.parallax-bg2 {
  background-image: url("/assets/images/ice-cream2.jpg");
}

.parallax-bg3 {
  background-image: url("/assets/images/ice-cream1.png");
}
