
<a class="section-info " [routerLink]="['/contact']">
    <h3>
      Žarka Zgonjanina 64, Prijedor 79000 | Daily 7AM - 5PM
    </h3>
</a>
<div class="section-about-us">
    <h2>O nama</h2>
    <h1>Eurokornet</h1>
</div>

<div class="section-about-info">
    <div class="about-us-box about-padding">
      <h3 class="yellow-text">O nama</h3>
      <h4 class="content-subtitle">Naše dugogodišnje iskustvo osigurava visoko kvalitetne proizvode i prvoklasnu uslugu.
    </h4>
      <p class="dark-text">
        Sad već davne 1996 naša porodica odlučila je da se počne baviti proizvodnjom korneta.Kao i svaki porodični posao svi su bili ukljuceni,od najmljadjih do najstarijih. Od prvog dana kvaliteta proizvoda je bila na prvom mjestu.Sada, 25 godina poslije,naše iskustvo vam  osigurava visoko kvalitetne proizvode i prvoklasnu uslugu.
      </p>
      <p class="dark-text">
        Vaš Eurokornet Prijedor.
      </p>
      
    </div>
    <div class="flavor-box box-about-2 image-box-about">
    </div>
  </div>
<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/old-images/old-images-1.jpg">

  </div> -->


