<div class="section-about-us">
  <h1>
    <ng-container *ngIf="language ==='BOS'">
      O nama
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      About us
    </ng-container>
  </h1>
</div>
<div class="section-about-info opake-animation">
  <div class="about-us-box about-padding">
    <h3 class="light-blue-text">
      <ng-container *ngIf="language ==='BOS'">
        O nama
      </ng-container>
      <ng-container *ngIf="language ==='EN'">
        About us
      </ng-container>
    </h3>
    <h4 class="content-subtitle" style="margin-top: -10px;">
      <ng-container *ngIf="language ==='BOS'">
        Osiguravamo vrhunske proizvode godinama
      </ng-container>
      <ng-container *ngIf="language ==='EN'">
        We have been providing top quality products for years
      </ng-container>
    </h4>
    <p class="dark-text description-text">
      <ng-container *ngIf="language ==='BOS'">
        Sad već davne 1996 naša porodica odlučila je da se počne baviti proizvodnjom korneta. <br>
        Kao i svaki porodični posao svi su bili uključeni, od najmlađih do najstarijih.
      </ng-container>
      <ng-container *ngIf="language ==='EN'">
        Back in 1996, our family decided to start producing cornets. <br>
        As with any family business, everyone was involved, from the youngest to the oldest
      </ng-container>
    </p>
    <div class="divider"></div>
    <p class="dark-text description-text">

      <ng-container *ngIf="language ==='BOS'">
        Od prvog dana kvaliteta proizvoda je bila na prvom mjestu. <br>
        Sada, 25 godina poslije, naše iskustvo vam osigurava visokokvalitetne proizvode i prvoklasnu uslugu.
      </ng-container>
      <ng-container *ngIf="language ==='EN'">
        From the first day, the quality of the product was in the first place. <br>
        Now, 25 years later, our experience ensures you high quality products and first class service.
      </ng-container>

    </p>

  </div>
  <div class="flavor-box box-about-2 image-box-about">
  </div>
</div>


<div class="section-galery">
  <div id="particles"></div>
  <div id="particles2"></div>
  <div id="particles3"></div>
  <h4 class="content-subtitle">
    <ng-container *ngIf="language ==='BOS'">
      Naš Početak
    </ng-container>
    <ng-container *ngIf="language ==='EN'">
      Our beginning
    </ng-container>
  </h4>

  <div class="container">

    <div class="row">

      <div class="row-item">
        <img src="assets/images/old-images/old-images-1.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-2.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-3.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="row-item">

        <img src="assets/images/old-images/old-images-4.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-5.jpg" />
      </div>

      <div class="row-item">

        <img src="assets/images/old-images/old-images-6.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="row-item">

        <img src="assets/images/old-images/old-images-7.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-3.jpg" />
      </div>

      <div class="row-item">

        <img src="assets/images/old-images/old-images-2.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="parallax-init parallax-bg4"></div>
