.section-about-us{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B5E8D5;
    animation: height-change 1s forwards;
}
.section-about-info h4{
    text-align: center;
    margin-top: 20px;
}
