<a class="section-info " [routerLink]="['/contact']">
  <h3>
    Žarka Zgonjanina 64, Prijedor 79101 | Svaki dan 8:00 - 22:00
  </h3>
</a>
<div class="section-about-us">
  <h1>O nama</h1>
</div>
<div class="section-about-info opake-animation">
  <div class="about-us-box about-padding">
    <h3 class="light-blue-text">O nama</h3>
    <h4 class="content-subtitle" style="margin-top: -10px;">
      Osiguravamo vrhunske proizvode godinama
    </h4>
    <p class="dark-text description-text">
      Sad već davne 1996 naša porodica odlučila je da se počne baviti proizvodnjom korneta. <br>
      Kao i svaki porodični posao svi su bili uključeni, od najmlađih do najstarijih. 
    </p>
    <div class="divider"></div>
    <p class="dark-text description-text">
      Od prvog dana kvaliteta proizvoda je bila na prvom mjestu. <br>
      Sada, 25 godina poslije, naše iskustvo vam osigurava visokokvalitetne proizvode i prvoklasnu uslugu.
    </p>
    
    <!-- <div style="width: 100%;">
      <h4 class="content-subtitle" style="float: right; padding-right:4% ;">
        Vaš Eurokornet Prijedor.
      </h4>
    </div> -->


  </div>
  <div class="flavor-box box-about-2 image-box-about">
  </div>
</div>


<div class="section-galery">
  <div id="particles"></div>
  <div id="particles2"></div>
  <div id="particles3"></div>
  <h4 class="content-subtitle">Naš Početak</h4>

  <div class="container">

    <div class="row">

      <div class="row-item">
        <img src="assets/images/old-images/old-images-1.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-2.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-3.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="row-item">

        <img src="assets/images/old-images/old-images-4.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-5.jpg" />
      </div>

      <div class="row-item">

        <img src="assets/images/old-images/old-images-6.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="row-item">

        <img src="assets/images/old-images/old-images-7.jpg" />
      </div>

      <div class="row-item">
        <img src="assets/images/old-images/old-images-3.jpg" />
      </div>

      <div class="row-item">

        <img src="assets/images/old-images/old-images-2.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="parallax-init parallax-bg4"></div>
